    body {
      background:#fff;
      margin:0;
      padding:0;
      color:#000;
      font:x-small/1.5em Tahoma,Sans-Serif;
      voice-family: "\"}\""; voice-family:inherit;
      font-size:small;
      } html>body {font-size:small;}
    
    .tabbar {
      float:left;
      width:100%;
      background:#DAE0D2 url("../img/bg.png") repeat-x bottom;
      font-size:93%;
      line-height:normal;
      }
    .tabbar ul {
      margin:0;
      padding:10px 10px 0;
      list-style:none;
      }
    .tabbar li {
      display:inline;
      margin:0;
      padding:0;
      }
    .tabbar a {
      float:left;
      background:url("../img/left_both.png") no-repeat left top;
      margin:0;
      padding:0 0 0 9px;
      border-bottom:1px solid #765;
      text-decoration:none;
      }
    .tabbar a span {
      float:left;
      display:block;
      background:url("../img/right_both.png") no-repeat right top;
      padding:5px 15px 4px 6px;
      font-weight:bold;
      color:#765;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabbar a span {float:none;}
    /* End IE5-Mac hack */
    .tabbar a:hover span {
      color:#333;
      }
    .tabbar #current a {
      background-position:0 -150px;
      border-width:0;
      }
    .tabbar #current a span {
      background-position:100% -150px;
      padding-bottom:5px;
      color:#333;
      }
    .tabbar a:hover {
      background-position:0% -150px;
      }
    .tabbar a:hover span {
      background-position:100% -150px;
      }
