<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <compilation defaultLanguage="c#" debug="false" />
        <customErrors mode="Off" />
        <authentication mode="None" />
        <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
        <sessionState mode="InProc" timeout="20" />
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
        <httpHandlers>
            <add verb="*" path="*.xsl" type="EamonNS.XslFileHandler,XSLTfunky" />
            <add verb="*" path="*.xsl?*" type="EamonNS.XslFileHandler,XSLTfunky" />
        </httpHandlers>
    </system.web>
</configuration>
