/**
 *
 * IE6 and Mozilla compatible.  Javascript-friendly, just add or remove the "collapsed" class...
 */
    html { background-color: White;  font-family: "Arial"; }
   .tree .tree {margin-left: 8mm; }
    table {border-collapse:collapse;}
    .tree table {width: 100%;}
    .tree td {width: 2cm; text-align:right;}
    .tree .symcol {width:1em; padding:0px;}
    .tree th{text-align:left;}
    .tree thead {
      cursor: pointer;
      font-style: normal;
    }
    .tree thead tr *:hover {background-color:Silver;}
    .tree thead td {
		text-align: center;
    }
	
    .collapsed .whencollapsed {
        display: inline;
		width: 11px;
		height: 11px;
    }
    .collapsed .whenexpanded {
        display: none;
    }
    .whenexpanded {
		width: 11px;
		height: 11px;
        display: inline;
    }
    .whencollapsed {display: none;}

    .collapsed .tree, .collapsed tbody{display: none;}
    .collapsed td{visibility:hidden;}
    .tree tbody th {padding-left:1cm;}
   /* .tree thead tr th, .tree thead tr td{border-top: solid 1px #bbb;}*/
    /*.tree tbody tr * {border-top: solid 1px #eee;}*/
    .tree .odd {background-color: #eee;}
        