<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation defaultLanguage="c#" debug="true"/>
    <customErrors mode="Off"/> 
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

   <sessionState mode="InProc" cookieless="false" timeout="20" />
   <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
   <httpHandlers>
     <add verb="GET" path="*.xml" type="eBugger.BugHandler,eBugger"/>
   </httpHandlers>
 </system.web>

</configuration>
