<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  	<appSettings>
<!--    	<add key="connectionstring" value="server=cowogwww;database=progress;Trusted_Connection=Yes" />-->
   	</appSettings>
    <system.web>
        <compilation defaultLanguage="c#" debug="true" />
        <customErrors mode="Off" />
        <authentication mode="None" />
        <trace enabled="false" />
        <sessionState timeout="40" mode="InProc" cookieless="false" />
        <httpHandlers>
            <add verb="GET,HEAD" path="*.ngl" type="AnaGram.Anagrammer,AnaGram" />
        </httpHandlers>
    </system.web>
</configuration>
