div.jp-interface
{
    position: relative;
    background-color: #eee;
    min-width: 20em;
    -moz-box-shadow: 0 0 2.5em white inset, 0 0 1.5em white inset,0 0 0.5em white inset;
    -webkit-box-shadow: 0 0 2.5em white inset, 0 0 1.5em white inset,0 0 0.5em white inset;
    box-shadow: 0 0 2.5em white inset, 0 0 1.5em white inset,0 0 0.5em white inset;
}
div.jp-single-player div.jp-interface
{
    border-bottom: none;
}
.jp-playlist-player
{
    position: absolute;
    top: 0;
    left: 0;
    height:3.5em;
    right: 0;
}


div.jp-interface ul.jp-controls
{
    padding: 0.5em;
    margin: 0;
    height: 2.5em;
    list-style-type: none;
}
ul.jp-controls li
{
    float: left;
    display: block;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em 0;
}

ul.jp-controls li img
{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

ul.jp-controls li.jp-play img, ul.jp-controls li.jp-pause img
{
    width: 2.5em;
    height: 2.5em;
    margin: -0.5em;
}

ul.jp-controls li
{
    opacity: 0.8;
}
ul.jp-controls li:hover
{
    opacity: 1.0;
    -moz-box-shadow: 0 0 2em white, 0 0 0.5em white;
    -webkit-box-shadow: 0 0 2em white, 0 0 0.5em white;
    box-shadow: 0 0 2em white, 0 0 0.5em white;
    background-color: rgba(255,255,255,0.5);
}
ul.jp-controls li.jp-progress
{
    background-color: #ddd;
    width: 5em;
    height: 0.8em;
    margin: 0.85em 0.5em;
    position:relative;
}
div.jp-load-bar
{
    background: #bbb;
    width: 0px;
    height: 100%;
}
div.jp-play-bar
{
    background: #888;
    width: 0px;
    height: 100%;
}
ul.jp-controls li.jp-volume-min
{
    width: 0.7em;
    height: 0.7em;
    margin: 0.9em 0.1em;
}

ul.jp-controls li.jp-volume-bar
{
    background-color: #ddd;
    width: 3em;
    height: 0.3em;
    margin: 1.1em 0;
}
div.jp-volume-bar-value
{
    background-color: #888;
    width: 100%;
    height: 100%;
}
div.jp-play-time, div.jp-total-time
{
    position: absolute;
    top: 100%;
    width: 3em;
    opacity:1.0;
    font-style: oblique;
}
div.jp-total-time 
{
    font-size: .5em;
    right:0;
    padding-top: 0.3em;
}
div.jp-play-time 
{
    left:0;
    font-size: .64em;
}
div.jp-total-time
{
    text-align: right;
}

.jp-playlistBox 
{
    position: absolute;
    top: 3.5em;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}
.jp-playlist
{
    max-height: 100%;
    overflow-y: auto;

}

div.jp-playlist ul 
{
    line-height: 1.3;
    color: #666;
    font-size:80%;
    margin:0;
    padding:0.3em;
}

div.jp-playlist li
{
    padding: 0.1em 0 0.1em 1.5em;
    border-bottom:1px solid #e2eeea;
    
    cursor: pointer;
    list-style-position:inside;
    list-style-type:none;
    background:white;
}
div.jp-playlist li:hover
{
    background:#eee;
}

div.jp-playlist li.jplayer_playlist_current
{
    padding-left:0.5em;
    font-weight:bold;
    font-style:italic;
    color: #445E55;
    list-style-type:square;
    cursor: default;
}

div.jp-playlist li:hover
{
    color: #445E55;
}
