/*
#e2eeea
#c4ddd5
#8ba
#445E55

#840 (links)
*/
iframe
{
    border: 0;
}

body, html, #form1
{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
}
body
{
    font-family: Segoe UI, Lucida Sans Unicode, Lucida Grande, Arial, Sans-Serif;
    font-size: 12pt;
    overflow: hidden;
}

#searchResultDiv
{
    position: absolute;
    top: 25%;
    margin-top:6em;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 0;
}

.leftCol
{
    position: absolute;
    left: 0;
    width: 36em;
    bottom: 75%;
    top: 0;
}
.scrollable 
{
    position:absolute;
    overflow-y: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.playerSect
{
    position: absolute;
    left: 36em;
    right: 0;
    bottom: 75%;
    top: 0;
    padding: 0;
    margin: 0;
    margin-bottom:-6em;
    width: auto;
}

.searchSect
{
    position: absolute;
    height: 5em;
    max-height: 5em;
    bottom: 75%;
    left: 0;
    margin-bottom:-6em;
    width: 35em;
    height: 5em;
    padding: 0.5em;
    background: #c4ddd5;
    white-space: nowrap;
    overflow: hidden;
}


#shownumber
{
    width: 3em;
}
#searchquery
{
    width: 15em;
}

#similar ul
{
    display: block;
    margin: 0;
    padding: 0;
    padding-left:1%;
    padding-right:1%;
}
#similar li
{
    display: block;
    font-size: 10pt;
}
#similar .unknown
{
    float: left;
    width: 35%;
    color: #ccc;
}
#similar .known
{
    float: right;
    width: 60%;
}
#similar .known li
{
    cursor: pointer;
    border-bottom: 1px solid #e2eeea;
}

.leftCol:before 
{
    display: block;
    position: absolute;
    top: 50%;
    width:100%;
    text-align:center;
    font-size: 30pt;
    font-weight: bold;
    
    z-index: -1;
    color: #eee;
    content: "Similar Tracks";
}

.processing:before 
{
    content: "Getting Similar Tracks...";
}

.proc-error:before 
{
    color: #c99;
    content: "Error (timeout?)";
}

/*.forOptions
{
    background: white;
    padding: 1px;
}*/

#optionsBox
{
    max-width: 33em;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #e2eeea;
}
#optionsBox table
{
    font-size: 10pt;
}

.jp-playlist ul li
{
    margin-right: 1.3em;
}

.deleteButton
{
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    color: Red;
    font-weight: bold;
    float: right;
    position: relative;
    left: 1.8em;
    text-transform: uppercase;
    font-size: 70%;
    padding: 0.2em 0.4em 0.4em 0.4em;
    background: #eee;
    border: 1px solid #bbb;
    font-style: normal;
    margin-bottom: -0.5em;
}

.searchSect a
{
    color: #084;
}

.searchSect a:visited
{
    color: #444;
}

.searchSect a:after
{
    font-weight: bold;
    font-family: Comic Sans MS;
    content: " \2193 ";
}

input
{
    background: rgba(255,255,255,0.85);
    border: 1px inset #c4ddd5;
}

input:focus
{
    -moz-box-shadow: 0 0 2em white, 0 0 0.5em white;
    -webkit-box-shadow: 0 0 2em white, 0 0 0.5em white;
    box-shadow: 0 0 2em white, 0 0 0.5em white;
    outline: none;
    background: white;
}

a:focus
{
    -moz-box-shadow: 0 0 2em white, 0 0 0.5em white, inset 0 0 0.5em white;
    -webkit-box-shadow: 0 0 2em white, 0 0 0.5em white, inset 0 0 0.5em white;
    box-shadow: 0 0 2em white, 0 0 0.5em white, inset 0 0 0.5em white;
    outline: none;
    color: black !important;
    background: rgba(255,255,255,0.15);
}

#audio-container
{
    padding: 0.5em;
    font-size: 80%;
}
#audio-container audio
{
    display: block;
    width: 100%;
}
#audio-container object
{
    display: block;
    width: 100%;
    margin-top: 0.5em;
}
h3
{
    font-size: 13pt;
    margin: 0 0 0.5em 0;
    color: Gray;
}
td
{
    padding: 0;
}

.OptionsBuilder-uninitialized
{
    display: none;
}
