table
{
    border-collapse: collapse;
    width: 100%;
    font-size:83.4%;
    line-height:0.9;
    vertical-align:middle;
}

tr
{
    border: solid #e2eeea;
    border-width: 1px 0 0 0;
    cursor: pointer;
    height:1.5em;
}

tr:nth-child(5n)
{
    border: solid #8ba;
    border-width: 1px 0;
    background: #e2eeea;
}

tr > *:nth-child(2)
{
    font-style: italic;
}/*
td > div
{
    overflow: hidden;
    max-height: 1.28em;
    max-width: 100%;
    position: relative;
}
td > div > span
{
    position: relative;
    z-index: 1;
}



td > div > i
{
    float: right;
    position: relative;
    white-space: nowrap;
    width: 0;
    overflow: show;
    background: red;
    z-index: 0;
}

td > div > i > i
{
    position: absolute;
    bottom: 0.0ex;
    font-weight: bold;
    right: 0;
    color: #aaa;
}
*/
td {width:5em;}
td+td {width:auto;}
td{max-width:25%; }
body
{
    font-family: Segoe UI, Arial, Sans-Serif; /* Segoe UI, Calibri, Bitstream Vera Sans, Gill Sans, Verdana, Sans-Serif;*/
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

.popTbar 
{
    position:absolute;
    top:0;
    left:0;
    bottom:50%;
    max-width:5em;
    background:#38f;
}
.popAbar 
{
    position:absolute;
    top:50%;
    left:0;
    bottom:0;
    max-width:5em;
    background:#3f8;
}