table
{
    border-collapse: collapse;
    width: 100%;
}

tr
{
    border: solid #e2eeea;
    border-width: 1px 0 0 0;
    cursor:pointer;
}

tr:nth-child(5n)
{
    border: solid #8ba;
    border-width: 1px 0;
    background: #e2eeea;
}

tr > *:nth-child(2)
{
    font-style: italic;
}
td > div
{
    overflow: hidden;
    max-height: 1.28em;
    max-width: 100%;
    position: relative;
}
td > div > span
{
    position: relative;
    z-index: 1;
}



td > div > i
{
    float: right;
    position: relative;
    white-space: nowrap;
    width: 0;
    overflow: show;
    background: red;
    z-index: 0;
}

td > div > i > i
{
    position: absolute;
    bottom: 0.0ex;
    font-weight: bold;
    right: 0;
    color: #aaa;
}

body{ font-size: 10pt;}