<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime executionTimeout="86400"/>
    <pages enableViewState="false" enableSessionState="false" />
    <sessionState mode="Off" />
    <caching>      <outputCache enableOutputCache="false" />    </caching>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="None" />
		<httpHandlers>
      <add verb="GET,HEAD" path="*.m3u" type="SongSearchSite.PlaylistHandler,SongSearchSite" /><!--Including the assembly reference in the type attribute required to support mono/linux!-->
      <add verb="GET,HEAD" path="*.xml" type="SongSearchSite.PlaylistHandler,SongSearchSite" />
      <add verb="GET,HEAD" path="*.m3u8" type="SongSearchSite.PlaylistHandler,SongSearchSite" />
      <add verb="GET,HEAD" path="*.mp3" type="SongSearchSite.SongServeHandler,SongSearchSite" />
      <add verb="GET,HEAD" path="*.ogg" type="SongSearchSite.SongServeHandler,SongSearchSite" />
      <add verb="GET,HEAD" path="*.mpc" type="SongSearchSite.SongServeHandler,SongSearchSite" />
      <add verb="GET,HEAD" path="*.mp+" type="SongSearchSite.SongServeHandler,SongSearchSite" />
      <add verb="GET,HEAD" path="*.wma" type="SongSearchSite.SongServeHandler,SongSearchSite" />
		</httpHandlers>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/warnaserror-" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
			</compiler>
		</compilers>
	</system.codedom>
    <system.webServer>
        <handlers>
            <add name="*.wma_GET,HEAD" path="*.wma" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.mp+_GET,HEAD" path="*.mp+" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.mpc_GET,HEAD" path="*.mpc" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.ogg_GET,HEAD" path="*.ogg" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.mp3_GET,HEAD" path="*.mp3" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.m3u8_GET,HEAD" path="*.m3u8" verb="GET,HEAD" type="SongSearchSite.PlaylistHandler,SongSearchSite" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.xml_GET,HEAD" path="*.xml" verb="GET,HEAD" type="SongSearchSite.PlaylistHandler,SongSearchSite" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.m3u_GET,HEAD" path="*.m3u" verb="GET,HEAD" type="SongSearchSite.PlaylistHandler,SongSearchSite" preCondition="integratedMode,runtimeVersionv2.0" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
</configuration>
