<?xml version="1.0"?>
<configuration>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/warnaserror-" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <httpCompression dynamicCompressionDisableCpuUsage="101">
      <dynamicTypes>
        <clear/>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/xml" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/xml; charset=utf-8" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/xml" enabled="true"/>
        <add mimeType="application/xslt+xml" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doDynamicCompression="true"/>
    <handlers>
      <add name="*.wma_GET,HEAD" path="*.wma" verb="GET,HEAD" type="SongSearchSite.Code.Handlers.SongServeHandler, SongSearchSite"/>
      <add name="*.mp+_GET,HEAD" path="*.mp+" verb="GET,HEAD" type="SongSearchSite.Code.Handlers.SongServeHandler, SongSearchSite"/>
      <add name="*.mpc_GET,HEAD" path="*.mpc" verb="GET,HEAD" type="SongSearchSite.Code.Handlers.SongServeHandler, SongSearchSite"/>
      <add name="*.ogg_GET,HEAD" path="*.ogg" verb="GET,HEAD" type="SongSearchSite.Code.Handlers.SongServeHandler, SongSearchSite"/>
      <add name="*.mp3_GET,HEAD" path="*.mp3" verb="GET,HEAD" type="SongSearchSite.Code.Handlers.SongServeHandler, SongSearchSite"/>
      <add name="*.m3u8_GET,HEAD" path="*.m3u8" verb="GET,HEAD" type="SongSearchSite.Code.Handlers.SearchRequestHandler,SongSearchSite"/>
      <add name="*.xml_GET,HEAD" path="*.xml" verb="GET,HEAD" type="SongSearchSite.Code.Handlers.SearchRequestHandler,SongSearchSite"/>
      <add name="*.m3u_GET,HEAD" path="*.m3u" verb="GET,HEAD" type="SongSearchSite.Code.Handlers.SearchRequestHandler,SongSearchSite"/>
      <add name="similarSongsLookup" path="similar-to" verb="POST,GET" type="SongSearchSite.Code.Handlers.SimilarPlaylistHandler,SongSearchSite"/>
      <add name="bouncePlaylist" path="bounce-playlist" verb="POST,GET" type="SongSearchSite.Code.Handlers.BouncePlaylistHandler,SongSearchSite"/>
      <add name="update-rating" path="update-rating" verb="POST,GET" type="SongSearchSite.Code.Handlers.UpdateRatingHandler,SongSearchSite"/>
      <add name="doScrobble" path="scrobble" verb="POST,GET" type="SongSearchSite.ScrobbleSongHandler,SongSearchSite"/>
      <add name="update-playlist" path="update-playlist" verb="POST,GET" type="SongSearchSite.Code.Handlers.PlaylistStorageHandler,SongSearchSite"/>
      <add name="store-playlist" path="store-playlist" verb="POST,GET" type="SongSearchSite.Code.Handlers.PlaylistStorageHandler,SongSearchSite"/>
      <add name="load-playlist" path="load-playlist" verb="POST,GET" type="SongSearchSite.Code.Handlers.PlaylistStorageHandler,SongSearchSite"/>
      <add name="rename-playlist" path="rename-playlist" verb="POST,GET" type="SongSearchSite.Code.Handlers.PlaylistStorageHandler,SongSearchSite"/>
      <add name="update-playcount" path="update-playcount" verb="POST,GET" type="SongSearchSite.Code.Handlers.PlaylistStorageHandler,SongSearchSite"/>
      <add name="list-all-playlists" path="list-all-playlists" verb="POST,GET" type="SongSearchSite.Code.Handlers.PlaylistStorageHandler,SongSearchSite"/>
      <add name="list-user-playlists" path="list-user-playlists" verb="POST,GET" type="SongSearchSite.Code.Handlers.PlaylistStorageHandler,SongSearchSite"/>
    </handlers>
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlCustom="must-revalidate"/>
      </staticContent>
    </system.webServer>
  </location>
  <location path="songs">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="similar-to">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <authentication mode="Forms">
      <forms name="SongSearch" loginUrl="logon.aspx" protection="All" path="/" timeout="144000" cookieless="UseCookies"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
</configuration>