<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/warnaserror-" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <httpCompression dynamicCompressionDisableCpuUsage="101">
      <dynamicTypes>
        <clear />
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/xml; charset=utf-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/xslt+xml" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
      </staticTypes>
    </httpCompression>
    <urlCompression doDynamicCompression="true" />
    <handlers>
      <add name="*.wma_GET,HEAD" path="*.wma" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" />
      <add name="*.mp+_GET,HEAD" path="*.mp+" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" />
      <add name="*.mpc_GET,HEAD" path="*.mpc" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" />
      <add name="*.ogg_GET,HEAD" path="*.ogg" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" />
      <add name="*.mp3_GET,HEAD" path="*.mp3" verb="GET,HEAD" type="SongSearchSite.SongServeHandler,SongSearchSite" />

      <add name="*.m3u8_GET,HEAD" path="*.m3u8" verb="GET,HEAD" type="SongSearchSite.PlaylistHandler,SongSearchSite" />
      <add name="*.xml_GET,HEAD" path="*.xml" verb="GET,HEAD" type="SongSearchSite.PlaylistHandler,SongSearchSite" />
      <add name="*.m3u_GET,HEAD" path="*.m3u" verb="GET,HEAD" type="SongSearchSite.PlaylistHandler,SongSearchSite" />
      <add name="similarSongsLookup" path="similar-to" verb="POST,GET" type="SongSearchSite.SimilarPlaylist,SongSearchSite" />
      <add name="update-rating" path="update-rating" verb="POST,GET" type="SongSearchSite.UpdateRating,SongSearchSite" />
      <add name="doScrobble" path="scrobble" verb="POST,GET" type="SongSearchSite.ScrobbleSongHandler,SongSearchSite" />
    </handlers>
  </system.webServer>
  <location path="songs">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="similar-to">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <compilation debug="true" />
    <authentication mode="Forms" >
      <forms name="SongSearch" loginUrl="logon.aspx"  protection="All" path="/" timeout="144000" cookieless="UseCookies" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>
