h1 {
    font-family: Sans-Serif;
    font-size: Larger;   
    text-indent: 2cm;
}

body {
    width:17.5cm;/*for Mozilla's benefit, IE6 ignores*/
    text-align:  justify;
    margin-right:1cm;
}

p {
    margin: 0.2cm 0px 0px 0px;
    text-indent: 1cm;
}

table {
    border-collapse: collapse;   
    page-break-inside: avoid;/*CSS2*/
}

td {
    border: solid 1px #808080;
    text-indent: 0px;
}
table.wwwtab {
    width: 100%;
    border-bottom: solid 1px #5070a0;
    border-top: solid 1px #5070a0;
}
td.www {
    border-width: 0px;   
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 100%;
    line-height:normal;
    font-family:Sans-Serif;
}
td.wwwdata {
    border-width:0px;
}

div.item-separator{
    display: none;
}

div.section-separator{
    margin: 0.2cm 0.0cm 0.2cm 0.0cm;
    height: 1px;
    border-bottom: solid 1px #50a070;
    overflow: hidden;
    width: 30%;
}

.main-list {
}

.tlist-list {
    margin: 0cm;
    padding: 0cm 0cm 0cm 0.5cm;
}

li.list-item {
    padding: 0cm;
}
li.list-section {
    padding: 0cm;
}
div.item-name {
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
    display:inline;
}
div.section-name{
    font-weight:bold;
    display:inline;
}
