/**
 *
 * IE6 and Mozilla compatible.  Javascript-friendly, just add or remove the "collapsed" class...
 */
    body {
        background-color: #fafafa;
        font-family: "Arial";
        font-size:smaller;
    }
    .tree, .treeleaf {
      clear: both;
      display: block;
    }
    .tree .tree, .tree .treeleaf {
      margin-left: 8mm;
    }
    .treehead {
      cursor: pointer;
      display: block;
      font-style: normal;
      border-bottom: solid 1px #aaaaaa;
    }
    .collapsed .whencollapsed {
        display: inline;
    }
    .collapsed .whenexpanded {
        display: none;
    }
    .whenexpanded {
        display: inline;
    }
    .whencollapsed {
        display: none;
    }
    .treeicon {
		width: 11px;
		height: 11px;
    }
    
    .treeleafhead {
      display: block;
      font-size:smaller;
      border-bottom: solid 1px #eeeeee;
    }
    .treecol {
        text-align: right;
        display: block;
        float: right;
      width: 1.5cm;
    }
    .treehead span {
      color: red;
    }
    .hovering {
        background-color: #eeeeff;
    }
    .treebody {
      visibility:hidden;
      position: absolute;
      margin-left: 2cm;
      width: 5cm;
      z-index: 1;
      background: #ddddff;
      border: solid 1px Black;
      color: Black;
      font-weight:normal;
    }
    .hovering .treebody {
        visibility:visible;
    }
    
    .collapsed .treehead span, .treeleafhead span {
      color: blue;
    }
    .collapsed .tree, .collapsed .treeleaf {
      display: none;
    }