<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="LastFMCacheModel-old" connectionString="metadata=res://*/LastFMmodel.csdl|res://*/LastFMmodel.ssdl|res://*/LastFMmodel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\musicDB\cache\lastFMcache.old.s3db;datetimeformat=Ticks;page size=4096;cache size=100000;journal mode=Persist;default timeout=60&quot;" providerName="System.Data.EntityClient" />
		<add name="LastFMCacheModel" connectionString="metadata=res://*/LastFMmodel.csdl|res://*/LastFMmodel.ssdl|res://*/LastFMmodel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\musicDB\cache\lastFMcache.s3db;datetimeformat=Ticks;page size=4096;cache size=100000;journal mode=Persist;default timeout=60&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>