.minim:hover {
    background-color:Blue;
}
.col:hover {
background-color:Green;
}

button:hover {
    background-color:Yellow;

}

body {
 color: black;
 background-color:white;
 font-family: Serif;
}
.simple {
    border: solid black 1px;
    font-family: "Arial" "Sans-Serif";
    background-color: white;
}
.minim {
    color:red;
    border: solid black 1px;
    font-family: "Arial" "Sans-Serif";
    background-color: white;
    padding: 0mm 250px 0mm 0cm;
    width: 500px;
}
