/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
#e2eeea
#c4ddd5
#8ba
#445E55

#840 (links)
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,italic,bold,bolditalic);
*/

body, html, #form1 {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
}
body {
    font-family: Segoe UI, 'Droid Sans' , Lucida Sans Unicode, Lucida Grande, Arial, Sans-Serif;
    font-size: 15px;
    overflow: hidden;
    background: #fdf6e3;
    color: #586e75;
}

a {
    color: #268bd2;
}
a:visited {
    color: #2aa198;
}
input, select {
    background: #eee8d5;
    border: 1px inset #93a1a1;
    font-size: 100%;
}
input:focus, select:focus {
    box-shadow: 0 0 1em #fdf6e3, 0 0 0.5em #fdf6e3;
    outline: none;
    background: #fdf6e3;
}

button {
    box-shadow: inset 0px 1px 3px 0px #fdf6e3;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fdf6e3), color-stop(1, #eee8d5) );
    background: -moz-linear-gradient( center top, #fdf6e3 5%, #eee8d5 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf6e3', endColorstr='#eee8d5');
    background-color: #fdf6e3;
    border-radius: 0.3em;
    border: 1px solid #93a1a1;
    display: inline-block;
    color: #586e75;
    font-weight: bold;
    padding: 0.1em 1em;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fdf6e3;
}
button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eee8d5), color-stop(1, #fdf6e3) );
    background: -moz-linear-gradient( center top, #eee8d5 5%, #fdf6e3 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee8d5', endColorstr='#fdf6e3');
    background-color: #eee8d5;
}
button:active {
    position: relative;
    top: 1px;
}

a:focus {
    box-shadow: 0 0 1em #b58900, 0 0 0.5em #b58900, inset 0 0 0.5em #fdf6e3;
    outline: none;
    background: #fdf6e3;
}


#resultsview {
    border: none;
    height: 100%;
    width: 100%;
}

#searchResultDiv, #searchResultShadow {
    position: absolute;
    top: 51%;
    margin-top: 3em;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background: #fdf6e3;
    padding: 0;
    z-index: 4;
}
#matchlinksect {
    float: right;
    font-size: 80%;
}
#searchResultShadow {
    z-index: 0;
    box-shadow: 0 0 1.5em #586e75;
}



.playerSect {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    width: 30em;
    bottom: 49%;
    top: 0;
    margin-bottom: 3em;
    z-index: 2;
}

.searchSect {
    background: #073642;
    color: #93a1a1;
    position: absolute;
    height: 5em;
    max-height: 5em;
    bottom: 49%;
    left: 0;
    margin-bottom: -3em;
    width: 29em;
    height: 5em;
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0 0 0.5em #93a1a1;
}
.searchSect a:after {
    font-weight: bold;
    font-family: Comic Sans MS;
    content: " \2193 ";
}
.searchSect a:focus {
    box-shadow: 0 0 1em #b58900, 0 0 0.5em #b58900, inset 0 0 0.5em #002b36;
    outline: none;
    background: #002b36;
}
#shownumber {
    width: 2.5em;
}
#searchquery {
    width: 15em;
}


#forOptions {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    right: 0;
    width: 20em;
    top: 0;
    height: 2.2em;
    background: #eee8d5;
    border-radius: 0 0 0 1em;
    box-shadow: 0 0 0.2em #93a1a1;
    -moz-transition: width 0.3s ease-in-out, background 0.2s;
    -webkit-transition: width 0.3s ease-out, background 0.2s;
    transition: width 0.3s ease-out, background 0.2s;
}
#forOptions:hover {
    width: 36em;
    height: auto;
    -moz-transition: width 0.3s ease-in, background 0.2s 0.2s;
    -webkit-transition: width 0.3s ease-in, background 0.2s 0.2s;
    transition: width 0.3s ease-in, background 0.2s 0.2s;
}

#do_shuffle, #do_addAll, #do_removeAll {
    background: #839496;
    color: #eee8d5;
    padding: 0;
    border-radius: 1.5em;
    width: 1.5em;
    height: 1.5em;
    font-size: 90%;
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
}
#do_shuffle, #do_addAll, #do_removeAll, #repeat_playlist_box_li {
    position: relative;
    font-size: 90%;
    font-weight: bold;
    vertical-align: baseline;
}

#do_shuffle:after, #do_addAll:after, #do_removeAll:after, #repeat_playlist_box_li:after {
    position: absolute;
    display: none;
    background: #fdf6e3;
    color: #b58900;
    border: 0.1em solid #586e75;
    box-shadow: 0 0 0.5em #839496;
    top: 100%;
    margin-top: 0.5em;
    border-radius: 1em;
    padding: 0 1em;
    z-index: 100;
    white-space: pre;
}

#do_shuffle:hover:after, #do_addAll:hover:after, #do_removeAll:hover:after, #repeat_playlist_box_li:hover:after {
    display: block;
}

#do_addAll:hover {
    box-shadow: 0 0 2em #fdf6e3, 0 0 0.5em #fdf6e3;
}
#do_addAll:after {
    content: "Add all search results to playlist";
    right: 0;
}
#do_removeAll:after {
    content: "Remove all tracks from playlist";
}
#do_shuffle:after {
    content: "Shuffle playlist";
}
#repeat_playlist_box_li:after {
    content: "Loop playlist";
}

#do_addAll {
    position: absolute;
    right: 0.7em;
    top: 0.7em;
    color: #073642;
}

#playlistsAndSimilarTracks {
    position: absolute;
    left: 30em;
    right: 0;
    bottom: 49%;
    margin-bottom: -3em;
    top: 0;
}


#playlistForm {
    position: absolute;
    top: 2.2em;
    bottom: 0;
    left: 0;right:55%; 
}

#similar {
    position: absolute;
    top: 2.2em;
    bottom: 0;
    left:45%;
    right: 0; 
}

#similarScrollable {
    position: absolute;
    width:100%;
    height:100%;
    z-index:1;
}

#similarScrollable, #playlistForm {
    overflow-y: auto;
    overflow-x: hidden;
}

#similarKnown, #similarUnknown {
    display: block;
    margin: 0;
    padding: 0.3em;
}
#similarUnknown {
    color: #93a1a1;
    font-size: 80%;
}
#similarKnown li, #similarUnknown li {
    display: block;
    font-size: 80.0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#similarKnown li {
    cursor: pointer;
    border-bottom: 1px solid #eee8d5;
    position: relative;
}
#playlistName {width:13em;}
#playlistNameBox >.help {visibility:hidden; font-style:italic; font-size:80%;}
#playlistNameBox >#playlistName:focus + .help {visibility:visible;}
#playlistNameBox:hover >#playlistName + .help {visibility:visible;}
#playlistNames { font-size: 80%; position:relative; padding:0 0 0 0.5em; margin:0.2em 0;}
#playlistNames li { display:block; cursor:pointer;}
#playlistNames li:after {
    content: "(" attr(data-CumulativePlayCount) ")";
    font-size: 80%;
    position: absolute;
    right:0;
}
#playlistNames li:before {
    content: attr(data-Username)": ";
    font-size: 80%;
    padding-right: 0.5em;
}

#msgPerf {
    display: block;
    position: absolute;
    top: 0.5em;
    right: 60%;
    text-align: right;
    font-size: 60%;
    z-index: -1;
    color: #93a1a1;
}

#msgPerf[data-lookups]:after {
    content: attr(data-simdb-ms)  ":" attr(data-milliseconds)  "ms; " attr(data-lookups) "sql; " attr(data-weblookups) "web; " attr(data-lookuperrs) "err; ";
}

#similar:before {
    display: block;
    position: absolute;
    
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    z-index: -1;
    color: #eee8d5;
    content: "Similar Tracks";
    border-radius: 1em;
}
#similar:before {
    content: "Similar Tracks";
}
#similar.processing:before {
    content: "Getting Similar Tracks...";
}
#similar.proc-error:before {
    color: #cb4b16;
    content: "Error (" attr(data-errname) ")";
}
#similar.waiting:before {
    content: "Suggestions Ready!";
    color: #b58900;
}

#similar.proc-error[data-errtrace]:after {
    display: block;
    position: absolute;
    padding: 0.5em;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    white-space: pre-line;
    font-size: 75%;
    z-index: 1;
    background: #eee8d5;
    box-shadow: 0 0 1.0em #eee8d5;
    border-radius: 1em;
    content: attr(data-errtrace);
}



#optionsBox {
    width: 34em;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #eee8d5;
    border-radius: 0.5em;
}
#forOptions:hover #optionsBox {
    border-color: #fdf6e3;
}

#optionsBox > * {
    font-size: 80%;
}
#optionsBox > legend {
    font-weight: bold;
    color: #839496;
    font-size: 100%;
}
.jp-playlistBox:before {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    margin-top: -1em;
    z-index: -1;
    color: #eee8d5;
    content: "Playlist";
}
.jp-playlist ul li {
    margin-right: 1.3em;
    position: relative;
}

.deleteButton:before {
    content: "x";
}
.deleteButton {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -1.7em;
    border-radius: 2em;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding: 0 0.1em 0.2em;
    color: #fdf6e3;
    text-shadow: 0 0 0.3em #002b36;
    border: 1px solid #93a1a1;
}
.deleteButton:hover {
    background: #dc322f;
    border: 1px solid #002b36;
    box-shadow: 0 0 0.5em #002b36;
}

/* \2605: filled star
    \2606: empty star
    \21e7: arrow up
    \21e9: arrow down
    \D7: times symbol
    \263a: white smiley
    \263b: black smiley
    \2639: sad white smiley
    \25bc: triangle down
    \25b2: triangle up
*/
div[data-rating] {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.15em;
    font-size: 110%;
    color: #93a1a1;
}
div[data-rating] a {float:left;display:block;} /*use floats for chrome; chrome doesn't do correct hit-testing for inlines; neither for CSS nor js handlers.*/
div[data-rating] a:before { visibility:hidden;}
div[data-rating] a:before { content: "\25b2"; -webkit-text-shadow: #fdf6e3 0 0 0.1em; }
div[data-rating] a:nth-child(2):before, div[data-rating] a:nth-child(3):before { content: "\25bc";}

div[data-rating="1"]  a:nth-child(2):before,
div[data-rating="1"]  a:nth-child(3):before,
div[data-rating="2"]  a:nth-child(3):before, 
div[data-rating="3"]  a:nth-child(4):before, 
div[data-rating="4"]  a:nth-child(4):before, 
div[data-rating="4"]  a:nth-child(5):before, 
div[data-rating="5"]  a:nth-child(n+4):before  {
    visibility: visible;
}

div[data-rating] a:first-child:before {
    content: "\D7";
    color:Black;
    font-weight: bold;
}
div[data-rating]:hover a:nth-child(1):before { visibility: visible; }


li[data-staticrating]:before {
    position: absolute;
    text-align: left;
    bottom: 0;
    vertical-align: bottom;
    right: 0;
    width: 4.5em;
    letter-spacing: -0.15em;
    z-index: -1;
}

li[data-staticrating="1"]:before {
    content: "\25bc\25bc";
}
li[data-staticrating="2"]:before {
    content: "\2003\25bc";
}
li[data-staticrating="3"]:before {
    content: "\2003\2003\25b2";
}
li[data-staticrating="4"]:before {
    content: "\2003\2003\25b2\25b2";
}
li[data-staticrating="5"]:before {
    content: "\2003\2003\25b2\25b2\25b2";
}

div[data-rating]:hover > a ~ a:before {
    visibility: visible;
    opacity:0.2;
}

div[data-rating]:hover > a:hover:before  {
    opacity:1.0;
}

li[data-staticrating="1"]:before, div[data-rating="1"] a, div[data-rating]:hover > a:nth-child(2):before {
    color: #dc322f;
}
li[data-staticrating="2"]:before, div[data-rating="2"] a, div[data-rating]:hover > a:nth-child(3):before {
    color: #cb4b16;
}
li[data-staticrating="3"]:before, div[data-rating="3"] a, div[data-rating]:hover > a:nth-child(4):before {
    color: #859900;
}
li[data-staticrating="4"]:before, div[data-rating="4"] a, div[data-rating]:hover > a:nth-child(5):before {
    color: #859900;
}
li[data-staticrating="5"]:before, div[data-rating="5"] a, div[data-rating]:hover > a:nth-child(6):before {
    color: #2aa198;
}



li[data-staticrating] > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4.5em;
    width: 5em;
    z-index: -2;
}

.popTbar {
    position: absolute;
    right: 0;
    bottom: 50%;
    height: 0.4em;
    max-width: 5em;
    background: #d33682;
}
.popAbar {
    position: absolute;
    top: 50%;
    right: 0;
    height: 0.4em;
    max-width: 5em;
    background: #6c71c4;
}

h3 {
    font-size: 110%;
    margin: 0 0 0.5em 0;
    color: #586e75;
    padding-left: 1em;
}

td {
    padding: 0;
}

.OptionsBuilder-uninitialized {
    display: none;
}

