/*$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;*/

body {
    background: #fdf6e3;
    color: #586e75;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 80%;
    line-height: 0.9;
    vertical-align: middle;
}

thead {
    color: #657b83;
}

tr {
    border: solid #eee8d5;
    border-width: 1px 0 0 0;
    cursor: pointer;
    height: 1.5em;
}

tr:nth-child(5n) {
    border: solid #93a1a1;
    border-width: 1px 0;
    background: #eee8d5;
}

tr > *:nth-child(2) {
    font-style: italic;
}

td {
    width: auto;
    max-width: 25%;
}

body {
    font-family: Segoe UI, 'Droid Sans', Arial, Sans-Serif; /* Segoe UI, Calibri, Bitstream Vera Sans, Gill Sans, Verdana, Sans-Serif;*/
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.popTbar {
    height: 0.5em;
    max-width: 5em;
    background: #d33682;
}

.popAbar {
    height: 0.5em;
    max-width: 5em;
    background: #6c71c4;
}

.popularity-column {
    width: 5em;
}

tr[data-label] > .rating-column:before {
    content: "\2003";
}

tr[data-rating="1"] > .rating-column:before {
    content: "\25bc\25bc";
    color: #dc322f;
}

tr[data-rating="2"] > .rating-column:before {
    content: "\2003\25bc";
    color: #cb4b16;
}

tr[data-rating="3"] > .rating-column:before {
    content: "\2003\2003\25b2";
    color: #859900;
}

tr[data-rating="4"] > .rating-column:before {
    content: "\2003\2003\25b2\25b2";
    color: #859900;
}

tr[data-rating="5"] > .rating-column:before {
    content: "\2003\2003\25b2\25b2\25b2";
    color: #2aa198;
}

tr > td:nth-child(5),
tr > td:nth-child(6) {
    text-align: right;
    padding-right: 0.5em;
}