/*
 * Edit this file and copy it as userContent.css into your
 * profile-directory/chrome/
 */

/*
 * This file can be used to apply a style to all web pages you view
 * Rules without !important are overruled by author rules if the
 * author sets any.  Rules with !important overrule author rules.
 */

/*
 * example: turn off "blink" element blinking
 *
 * blink { text-decoration: none ! important; }
 *
 */

/*
 * example: give all tables a 2px border
 *
 * table { border: 2px solid; }
 */

/*
 * example: turn off "marquee" element
 *
 * marquee { -moz-binding: none; }
 *
 */
 
/* 
 * For more examples see http://www.mozilla.org/unix/customizing.html
 */

/*pre {
  max-width: 22cm;
  overflow:auto;
  }*/
  
  body{
    -moz-hyphens: auto;
  }
  
  *:focus {
  -moz-box-shadow: 0 0 1em gold, inset 0 0 1em gold;
  outline:none;
  }
  
@-moz-document domain(wizards.com) {
  #one_controller_container, .mb_t_p_t_post_div p {
    font-family: Calibri !important;
    font-size: 14px !important;
  }
}

@-moz-document domain(aclo.onin.nl) { tbody td { padding: 0 0.5em !important; } td[bgcolor="#999999"] { display: none; } }


@-moz-document domain(google.com), domain(google.nl) {
  .vspib, #vspb {display:none !important;}
}
  
@-moz-document domain(icanhascheezburger.comX), domain(dailysquee.comX), domain(dailypun.comX), domain(cheezeburger.comX), domain(somuchpun.comX),domain(failblog.orgX) {
  .slide-notification
  , .socmarks
  , div[id^="emailShare"]
  , div[id^="embedFavorite"]
  , .templates
  , #pane3 .widget_text
  , #pane3 .widget_rss
  , #pane3 > .widget
  , #pane3 > .skyscraper
  , #betaBar
  , #subfooter
  , .tabSet
  , #leftcolumn
  , #floattop
  , #pane1
  , .leftcolumnad
  , .rightskyad
  , .leaderboard
  , .leftcolumnad
  , .content-attribution
  , .entry > div > p.commentnow
  , .widget_recent_comments
  , #pane2 > div
  , #pane2 > p
  , #showSlideInNotificationContainer
  , #footer_wrapper
  , body > br
  , #statcounter_image
  , #header_wrapper
  , #panemain
  , #wpstats
  , body > iframe
   {display:none !important;}
   #body_wrapper {overflow:visible!important;}
    #mainbody{
    width:100%  !important; margin:0  !important;position:static !important;
    border:none!important;
    min-height:0!important;
    }
    #pane2 > div.post{
    display:inline-block!important;
    margin:1em!important;
    padding:0!important;
    -moz-box-shadow: 0 0 2em black;
    }
    .post h2 {margin-top:0!important; border:none!important;}
    .post .postsubtitle {margin:0 1em!important; width:auto!important;}
    .post p {margin:0.5em 1em !important;}
    .post p.mine_asset {text-align:center;margin:0!important;}
    .post p.mine_asset img {display:inline-block;}
    div.postsubtitle div.right {margin-right:1em;}
    #pane2 .entry { max-width: 500px;}
     #pane2 > div.navigation{
    display:block!important;
    background: white !important;
    border: 1px solid black !important;
    border-bottom: none !important;
    border-right: none !important;
    padding: 0.5em !important;
    position: fixed;
    right: 0;
    bottom:0;
    text-align: center;
    -moz-box-shadow: 0 0 2em black;
    }
    body{background:none !important;}
    .widget{float:left !important;}
    #panemain{
    float:none !important;
    padding:0.5em !important;
    }
    .post,#panemain{    display:inline-block;}
    table[cellpadding="3"] {
      float:left;
    }
    #pane2 {
      width:auto !important;
      float:none !important;
      overflow:visible !important;
      min-height:0 !important;
      padding:0.5em !important;
      text-align:center;
      position:relative;
      z-index:5;
    }
}